
<h1>Contact</h1>
<ul>
    <li>Prenom : {{contact.firstname}}</li>
    <li>Nom : {{contact.lastname}}</li>
    <li>Email : {{contact.email}}</li>
    <li>Société : {{contact.company}}</li>
    <li>Contenu du message : {{contact.message}}</li>
</ul>



